/* Reset standard browser margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    /*font-family: Garamond, serif; */
    font-family: 'Trebuchet MS', sans-serif; 
}

body {
    background-color: #5d8394;
}

.main-title {  /*Class for h1*/
    color: #f9f8ef;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

/* Background and layout configuration for the navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #104a65;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 30px;
}

/* Logo styling */
.logo a {
    /*color: #e9d6bd;*/
    color: #f9f8ef;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* List container setup */
.nav-links {
    list-style: none; /* Removes bullet points */
    display: flex;    /* Makes list items align horizontally */
    gap: 40px;        /* Spacing between links */
}

/* Anchor tags formatting inside the list */
.nav-links a {
    color: #f9f8ef;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Smooth visual cue on hover and active status */
.nav-links a:hover, 
.nav-links a.active {
    color: #fb4f14;
}

.center-block {
  display: block;      /* Converts inline image to a block element */
  margin-left: auto;   /* Automatically pushes left margin */
  margin-right: auto;  /* Automatically pushes right margin */
  max-width: 100%;     /* Optional: Keeps it responsive on mobile */
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 400px;
  border-radius: 12px;
  font-family: 'Trebuchet MS', sans-serif; 
}

/* Profile Picture */
.bio-img {
  width: 200px;
  height: 200px;
}

/* Text Content Area */
.bio-info {
  flex: 2;
}

.bio-info h2 {
  margin: 0 0 0.25rem 0;
  color: #f9f8ef;
  font-size: 1.5rem;
}

.bio-info p {
  margin: 0 0 1.5rem 0;
  color: #f9f8ef;
  line-height: 1.6;
}
